body, div, dl, dt, dd, ul, ol, li, p, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td {

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {

  margin: 0;
  padding: 14px 0;
}

body {

  font-size: 12px;
  font-family: "Consolas", "Lucida Grande", Tahoma, Verdana, Lucida, Arial, sans-serif, Helvetica, "宋体";
  background: url("images/bg.png") 0 0 repeat;
}

ul, li {
  
  list-style: none;
}

a {

  text-decoration: none;
}

pre {
  
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin-bottom: 12px;
  
  /*
  border: 1px solid #DEDEDE;
  padding: 5px;
  background: #202020;
  color: #D0D0D0;
  */
}

pre code {

  margin: 0;
  padding: 0;
  border: none;
}

pre, code {

  font-family: Consolas, "Liberation Mono", Courier, monospace, "宋体";
}

code {

  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}

img {
  width: 100%;
}

.shadow {

  moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.shadow-sides {
  moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.wrapper {

  width: 960px;
  margin: 0 auto;
  padding: 8px;
}

hr {
  margin: 25px 0 30px;
}

.cv-image {
  width: 180px;
  float: right;
  padding: 1em 2em;
}

/* -- header start -- */

.header {
  
  background-color: white;
  text-align: center;
  color: #000;
}

.header .header-wrapper {
  height: 58px;
  text-align: left;
  font-family: "微软雅黑", "黑体", "Lucida Grande", Verdana, sans-serif;
}

.header .header-logo {
  float: left;
  padding: 16px 42px;
}

.header .header-logo span a {

  font-family: "Georgia";
  font-size: 26px;
  color: #3791E7;
}

.header .header-nav {
  float: left;
}

.header .header-nav ul li {
  float: left;
  position: relative;
}

.header .header-nav ul li a {

  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 58px;
  height: 58px;
  color: #000;
  padding: 0 17px;
}

.header .header-nav ul li:hover {

  background-color:#fafafa;	
}

.header .header-nav ul li a:hover {

  color:#4089E1;	
}

/* -- header end -- */

/* -- main start -- */

.main {
  background-color: white;
  border-top: 1px solid #EEE;
  text-align: center;
  color: #000;
}

.main .main-wrapper {
  padding: 18px 42px;
}

.main .main-wrapper .main-title {

  font-size: 24px;
  line-height: 38px;
  text-align: left;
  font-weight: normal;
  font-family: "微软雅黑";
  color: #000;
}

.main .main-wrapper .main-text {
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}

.main .main-wrapper .main-text ul {
   margin-bottom: 12px;
}

.main .main-wrapper .main-text ul li {
  list-style: initial;
  margin: 0 0 0 1em;
}

.main .main-wrapper .main-text ul.waterfall li {
  list-style: none;
}

.main .main-wrapper .main-text ol li {
  list-style: auto;
  margin: 0 0 0 1em;
}


.main .main-wrapper .main-text ul li a {

  float: left;
}

.main .main-wrapper .main-text ul li span {

  float: right;
}

.main .main-wrapper .main-text p {
  line-height: 1.75em;
  margin: 6px 0 12px 0;
}

.main .main-wrapper .main-foot {

  border-bottom: 1px solid #CCC;
  margin: 0 0 26px;
  padding: 8px 0;
  text-align: left;
}

.main .main-wrapper .main-foot span {

  color: #999;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Segoe UI";
}

.main .main-wrapper .main-text .waterfall .pin {
  width: 130px;
  height: auto;
  margin: 0 20px 30px 20px;
}

.main .main-wrapper .main-text .waterfall .pin a {
  width: 100%;
  height: 100%;
}

.main .main-wrapper .main-text .waterfall.gallery .pin {
  width: 180px;
}


/* -- main end -- */



/* -- footer start -- */

.footer {
  
  background-color: white;
  border-top: 1px solid #EEE;
  text-align: center;
  color: #999;
}

.footer .footer-wrapper {

  font-family: "Segoe UI";
  padding: 20px 0;
}

.footer .footer-wrapper a {

  color: #999;
}

/* -- footer end -- */

.sub-text {
  padding-left: 2em;
}
