.timetrack {
	font: 14px/24px Consolas, Tahoma, Verdana, Lucida, Arial, sans-serif, Helvetica, "宋体";
	margin: 0;
	padding: 0;
}

.timetrack ul, .timetrack ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.red {
	color: red;
}

.m-placement {
	/*margin: 32px;*/
	background-color: #3a3a3a;
	position: relative;
	overflow: hidden;
	/*
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
	*/
}

.m-title {
	font: 26px/30px "微软雅黑", Consolas, Tahoma, Arial, sans-serif, Helvetica, "宋体";
	color: #666;
	margin: 5px 0;
	text-align: center;
}

/* m-view start */

.m-view {
	/*height: 228px;*/
	overflow: hidden;
}

.m-view-group {
	color: #FAFDF8;
	overflow:hidden;
	height:100%;
}

.m-view-item {
	float:left;
	color: #FAFDF8;
	/*width:96px;*/
	height:1px;
}

.m-view-item a {
	text-decoration: none;
	color: #FAFDF8;
	display: block;
	width: 100%;
	height: 100%;
}

.m-view-item .box {
	position: relative;
	z-index: 5;
	border: 1px solid #F5F5F5;
	height:52px;
	width:83px;
	/*background: #2191C0;*/
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	opacity: 0.9;
	*filter:alpha(opacity=90);
	word-break: break-all;
	cursor: pointer;
	/*padding-left: 4px;*/
}

/*
.m-view-item .box:hover {
	opacity: 1;
	*filter:alpha(opacity=100);
}
*/

.m-view-item .boxline {
	height: 75px;
	border-left: 1px solid #FAFDF8;
	position: absolute;
	z-index: 5;
}

.m-view-item .boxline.none {
	border-left: none;
}

.m-view-item .boxout {
	position: relative;
	margin:15px 0;
	height: 60px;
	z-index: 1;
}

.m-view-item .boxout.none {
	z-index: -1;
}

.m-view-item .box.long {
	/*width:282px;*/
	/*border: 1px solid #ED5100;*/
	/*background: #ED517E;*/
	z-index: 4;
	height:58px;
	position: absolute;
}
.m-view-item .box.long.mid {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
.m-view-item .box.long.first {
	border-radius: 0;
	border-right: 0;
}
.m-view-item .box.long.last {
	border-left: 0;
}

.m-view-item .nobox {
	position: relative;
	z-index: -10;
}

/* m-view end */



/* m-line start */

.m-line {
	width: 100%;
	overflow: hidden;
}

.m-line-group {
	background-color: #726D62;
	color: #FAFDF8;
	overflow:hidden;
	height: 45px;
}

.m-line-item {
	float:left;
	color: #FAFDF8;
	background-color: #726D62;
	/*width:95px;*/
	border-left: 1px solid #FAFDF8;
	/*text-decoration: underline;*/
	font: 12px/22px "微软雅黑", Consolas, Tahoma, Arial, sans-serif, Helvetica, "宋体";
	color: #FAFDF8;
	height: 100%;
	text-align: center;
	
	/*padding-top: 12px;*/
}

/* m-line end */


/* dialog start */

.m-dialog {
	position: relative;
	width: 300px;
	border: 1px solid #AAA;
	color: #222;
	border-radius: 4px;
	padding: 2px;
	font-size:14px;
	background-color: #FAFDF8;
	z-index: 100;
	display: none;
}

.m-dialog-head {
	padding: 4px 9px 0 9px;
	border: 1px solid #AAA;
	font-weight: bold;
	border-radius: 4px;
	height: 26px;
	color: #FAFDF8;
	background-color: #2191C0;
}

.m-dialog-head .m-dialog-title {
	float: left;
}

.m-dialog-head a {
	width: 18px;
	height: 18px;
	padding: 1px;
	float: right;
}

.m-dialog-head a:hover {
	border: 1px solid #FAFDF8;
	border-radius: 4px;
	padding: 0;
}

.m-dialog-head a span {
	background-image: url('../image/icon.png');
	margin: 1px;
	width: 16px;
	height: 16px;
	float: right;
}

.m-dialog-head a span.m-close {
	background-position: -96px -128px;
}

.m-dialog-head a span.m-event-edit {
	background-position: -240px -96px;
}

.m-dialog-body {
	min-height: 103px;
	padding: 2px 9px 0 9px;
	word-break: break-all;
}

.m-dialog-body .time {	
	font: 12px/22px "微软雅黑", Consolas, Tahoma, Arial, sans-serif, Helvetica, "宋体"; /* "Trebuchet MS" */
	color: #666;
}

.m-dialog.add{
	width: 350px;
}

.m-dialog.add ul {
	height: 225px;
}

.m-dialog.add ul li {
	float: left;
	margin: 6px 10px 2px 10px;
}

.m-dialog.add ul li label {
	float: left;
	width: 76px;
}

.m-dialog.add ul li input {
	width: 200px;
	margin: 0 0 0 6px;
	height: 24px;
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	*height: 22px;
	*line-height: 22px;
}

/*
.m-dialog.add ul li textarea {
	width: 198px;
	margin-left: 6px;
	height: 20px;
}
*/

.m-dialog.add ul li.m-button {
	float: left;
	margin-left: 77px;
}

.m-dialog.add ul li.m-button div {
	border: 1px solid #AAA;
	padding: 2px 10px;
	float: left;
	margin: 0 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font: 12px/22px "微软雅黑", Consolas, Tahoma, Arial, sans-serif, Helvetica, "宋体";
}

.m-dialog.add ul li.m-button div:hover {
	background-color: #DAE6F2;
	cursor: pointer;
}

/* dialog end*

/* m-bottom start */

.m-bottom {
	font: 12px/22px "微软雅黑", Consolas, Tahoma, Arial, sans-serif, Helvetica, "宋体";
	color: #666;
	margin-top: 10px;
}

.m-bottom .time {
	float: left;
}

.m-bottom ul li {
	float: right;
}

.m-bottom ul li.li-blank {
	margin-left: 20px;
}

.m-bottom ul li div {
	width: 32px;
	height: 18px;
	border-left: 1px solid #AAA;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	background-color: #FAFDF8;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
	line-height: 19px;
	text-align: center;
}

.m-bottom ul li div:hover {
	background-color: #DAE6F2;
	cursor: pointer;
}

.m-bottom ul li div.on {
	background-color: #DAE6F2;
}

.m-bottom ul li div.sp {
	border-right: 1px solid #AAA;
}

.m-bottom ul.m-zoom li {
	margin-top: 4px;
}

.m-bottom ul.m-zoom li div.blue {
	background-color: #2191C0;
	color: #2191C0;
}

.m-bottom ul.m-zoom li div.grey {
	background-color: #828281;
	color: #828281;
}

.m-bottom ul.m-zoom li div.orange {
	background-color: #DD762E;
	color: #DD762E;
}

.m-bottom ul.m-zoom li div.green {
	background-color: #00714D;
	color: #00714D;
}

.m-bottom ul.m-zoom li div.color {
	background-color: #525250;
	color: white;
}

.m-bottom .m-oper {
	margin-left: 10px;
}

.m-bottom ul.m-oper li div {
	width: 30px;
	height: 22px;
	margin: 0 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.m-bottom ul.m-oper li div p {
	width: 16px;
	height: 16px;
	display: block;
	margin: 3px 6px;
	padding: 0;
}

.m-bottom ul.m-oper li div p.add {
	background: url('../image/icon-black.png') no-repeat -32px -96px;
}

.m-bottom ul.m-oper li div p.print {
	background: url('../image/icon-black.png') no-repeat -160px -96px;
}

.m-bottom ul.m-oper li div p.plus {
	background: url('../image/icon-black.png') no-repeat -32px -128px;
}

.m-bottom ul.m-oper li div p.minus {
	background: url('../image/icon-black.png') no-repeat -64px -128px;
}

.m-bottom ul li div p:hover {
	background-color: #DAE6F2;
	cursor: pointer;
}

/* m-bottom end */


